body{
    zoom:125%
}

#header {
    background-color: rgb(240, 240, 240);
    color: #003b82;
    padding: 0;
}

img#id_radix_logo {
    height: 60px;
    margin-left: -30%;
}

#id_name,
#brand_name {
    color: #003b82;
    padding-top: auto;
    padding-bottom: auto;
}

#sidebar_toggle_button {
    color: black;
    font-weight: bolder;
    background-color: inherit;
    border-color: rgb(240, 240, 240);
}

#offcanvasExample {
    max-width: 25%;
    min-width: 250px;
}

button[class="btn btn-primary bg-light"],
button[class="btn btn-primary bg-light"]:active,
button[class="btn btn-primary bg-light"]:hover,
button[class="btn btn-primary bg-light collapsed"],
button[class="btn btn-primary bg-light collapsed"]:hover,
div[class="card card-body"] ,.collapse{
    background-color: #fff;
    color: black;
    border-color: rgb(240, 240, 240);
    border-radius: 0;
    border-style: hidden;
    border-bottom: 2px solid black;
    width: 100%;        

}
li, a, a:visited{
    list-style: none;
    color: black;
    text-decoration: none;
}

#footer {
    background-color: rgb(240, 240, 240);
    color: #003b82;
    padding-top: 10px;
}

#id_ops_logo,
#id_zt_logo {
    height: 40px;
}

#footer div h6 {
    color: black;
    font-size: 12px;
    margin: auto;
}